body {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 18px;
	color: #5D5D5D;
	background: #202020;
}
.container {
	max-width: 1011px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 15px;

}
.header__page {
	position: relative;
}
.main__page {
	position: relative;
}
.page1 {
	position: absolute;
	top: 200px;
	left: 5px;
}
.page2 {
	position: absolute;
	top: 200px;
	left: 5px;
}
.page1 li:not(:first-child){
	font-weight: 700;
	font-size: 22px;
	line-height: 218.18%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #3A3A3A;
}
.page__current {
	font-weight: 700;
	font-size: 22px;
	line-height: 218.18%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #04F1FF;
}
.page__line {
	overflow: hidden;
}
.page__line::after {
	content: "";
	border: 2px solid #2D2D2D;
	transform: rotate(-90deg);
	align-items: center;
	text-align: center;
	width: 100px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* HEADER */
.header {
}
.header__menu {
	display: flex;
	justify-content: space-between;
	margin-top: 46px;
}
.menu__year {
	font-weight: 800;
	font-size: 42px;
	line-height: 166%;
	color: #303435;
}
.nav__menu {
	display: flex;
}
.menu__language {
	display: flex;
	margin-right: 19px;
}
.btn {
}
.btn-primary {
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	color: #FFFFFF;
}
.header__nav {
	position: relative;
}
.header__new-collection {
	position: absolute;
	top: 60px;
	left: -78px;

	font-size: 22px;
	line-height: 318%;
	text-transform: uppercase;
	color: #04F1FF;
	transform: rotate(-90deg);
}
.header__pushkeen {
	position: absolute;
	top: 145px;
	right: -163px;

	font-size: 22px;
	line-height: 318%;
	text-transform: uppercase;
	color: #04F1FF;
	transform: rotate(90deg);
}
.nav__link a {
}
.header__text {
}
.text__name {
	font-family: 'TippytoesBold';
	font-weight: 700;
	font-size: 150px;
	line-height: 119%;
	color: #FFFFFF;
	text-align: center;
	padding-top: 256px;
	z-index: 5;
}
.header__info {
	display: flex;
	justify-content: space-around;
	padding-top: 152px;
}
.header__img {
	width: 100%;
	margin-bottom: -1110px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* INTRO */
.info__title {
	width: 245px;
	font-size: 16px;
	line-height: 150%;
	color: #5D5D5D;
	z-index: 5;
}
.info__svg-text {
	display: flex;
	text-align: center;
	align-items: center;
	position: relative;
}
.info__svg {
}
.info__text {
	position: absolute;
	left: 240px;
	top: 13px;
	font-size: 16px;
	line-height: 362%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #04F1FF;
	display: flex;
   justify-content: center;
   align-items: center;
	text-align: start;

	background: #272727;
	width: 384px;
	height: 44px;
}
.main {
}
.intro {
	background: linear-gradient(180deg, #000000 29.71%, rgba(0, 0, 0, 0) 83.91%);

}
.intro__img {
	padding-top: 91px;
}
.intro__text-map {
	display: flex;
	position: relative;
}
.intro__text {
	margin-left: 94px;
	margin-top: 40px;
}
.intro__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 126%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #04F1FF;
	margin-bottom: 13px;
}
.intro__subtitle {
	width: 363px;
	line-height: 144%;
	margin-bottom: 26px;
}
.intro__icon {
}
.intro__link {
	line-height: 144%;
	color: #FFFFFF;
	margin-top: 11px;
	text-decoration: underline;
	margin-bottom: 40px;
}
.intro__map {
	position: absolute;
	top: -30px;
	left: 450px;
}
.map__img img{
}

.map__title {
	position: relative;
}
.map__text-point {
	position: absolute;
	width: 250px;
	z-index: 1;
	top: 130px;
	left: 100px;
	text-align: center;
}
.map__text {
	font-family: 'TippytoesBold';
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	color: #FFFFFF;
}
.swiper__img {
	margin-bottom: 82px;
}
.swiper__button {
	display: flex;
	justify-content: center;
}
.btn__rare {
	font-family: 'SFProDisplay';
	font-weight: 600;
	line-height: 227.7%;
	width: 192px;
	color: #000000;
	background: #04F1FF;
	margin-right: 23px;
}
.btn__really-rare {
	font-family: 'SFProDisplay';
	font-weight: 600;
	line-height: 227.7%;
	color: #04F1FF;
	border: 1px solid #04F1FF;
	width: 192px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* SLIDER */
.swiper {
	width: 600px;
	height: 300px;
}
.swiper-wrapper {
}
.swiper-slide img {
	width: 100%;
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
.swiper__titly {
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
	color: #04F1FF;
	text-align: center;
	padding-top: 44px;

}
.swaper__subtitle {
	font-family: 'TippytoesBold';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 22px;
}
.content {
	display: flex;
	align-items: center;
	padding-bottom: 77px;
}
.countent__title {
}
.content__quotes1 {
	font-family: 'TippytoesXTraBold';
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #FFFFFF;
	transform: matrix(1, -0.05, 0.05, 1, 0, 0);
	margin: 0 auto 5px 86px;
}
.content__quotes2 {
	font-family: 'TippytoesXTraBold';
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #FFFFFF;
	transform: matrix(-1, 0, 0, -1, 0, 0);
	margin: 5px 0 auto auto;
}
.content__text {
	width: 468px;
	margin-left: 80px;
	line-height: 26px;
}
.content__img img { 
	margin-left: 173px;
	
}