html {
	background: none;
}
body {
	height: 100%;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 18px;
	color: #5D5D5D;
	background: #202020;
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.img__container {
	max-width: 1295px;
	min-height: 100%;
	margin: 0 auto;
}
.container {
	max-width: 1011px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 15px;

	min-width: 0;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* LANGUAGE */
.menu__language {
	display: flex;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	align-items: center;
	margin-right: 20px;
}
.lang {
	color: #FFFFFF;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PAGE 1 */
.header__page {
	position: relative;
}
.page1 {
	position: relative;
	top: 200px;
	left: -25px;
}
.page1 li:not(:first-child){
	font-weight: 700;
	font-size: 22px;
	line-height: 218.18%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #3A3A3A;
}
.page__current {
	font-weight: 700;
	font-size: 22px;
	line-height: 218.18%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #04F1FF;
}
.page__line::before {
	content: "";
	position: relative;
	left: -32.5px;
	top: 50px;
	width: 90.52px;
	height: 0px;
	display: block;
	border: 2px solid #2D2D2D;
	transform: rotate(-90deg);
	align-items: center;
	text-align: center;
	z-index: -30;
	margin-bottom: 100px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PAGE 2 */
.main__page {
	position: relative;
}
.page2 {
	position: absolute;
	top: 0px;
	left: -25px;
}
.page2 li:not(.page__current2){
	font-weight: 700;
	font-size: 22px;
	line-height: 218.18%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #3A3A3A;
}
.page__current2 {
	font-weight: 700;
	font-size: 22px;
	line-height: 218.18%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #04F1FF;
}
.page__line2::before {
	content: "";
	position: relative;
	left: -30px;
	top: 50px;
	width: 90.52px;
	height: 0px;
	display: block;
	border: 2px solid #2D2D2D;
	transform: rotate(-90deg);
	align-items: center;
	text-align: center;
	z-index: -30;
	margin-bottom: 100px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PAGE 3 */
.swiper__page {
	position: relative;
}
.page3 {
	position: absolute;
	top: 195px;
	left: -25px;
}
.page3 li:not(.page__current3){
	font-weight: 700;
	font-size: 22px;
	line-height: 218.18%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #3A3A3A;
}
.page__current3 {
	font-weight: 700;
	font-size: 22px;
	line-height: 218.18%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #04F1FF;
}
.page__line3::before {
	content: "";
	position: relative;
	left: -30px;
	top: 50px;
	width: 90.52px;
	height: 0px;
	display: block;
	border: 2px solid #2D2D2D;
	transform: rotate(-90deg);
	align-items: center;
	text-align: center;
	z-index: -30;
	margin-bottom: 100px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* HEADER */
.header {
	background: url(../img/header/2.png) no-repeat top;
}
.header__menu {
	display: flex;
	justify-content: space-between;
	margin-top: 46px;
}
.menu__year {
	font-weight: 800;
	font-size: 42px;
	line-height: 166%;
	color: #303435;
}
.nav__menu {
	display: flex;
	align-items: center;
}
.header__nav {
	position: relative;
}
.header__new-collection {
	position: absolute;
	top: 60px;
	left: -78px;

	font-size: 22px;
	line-height: 318%;
	text-transform: uppercase;
	color: #04F1FF;
	transform: rotate(-90deg);
}
.header__pushkeen {
	position: absolute;
	top: 135px;
	right: -163px;

	font-size: 22px;
	line-height: 318%;
	text-transform: uppercase;
	color: #04F1FF;
	transform: rotate(90deg);
}
.text__name {
	font-family: 'TippytoesBold';
	font-weight: 700;
	font-size: 150px;
	line-height: 119%;
	color: #FFFFFF;
	text-align: center;
	padding-top: 256px;
	position: relative;
}
.header__info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 152px;
	padding-bottom: 87px;
}
.info__title {
	font-size: 16px;
	line-height: 150%;
	color: #5D5D5D;
	z-index: 5;
	margin-left: 87px;
}
.info__svg-text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.info__svg {
	margin-right: 20px;
}
.info__text {
	font-size: 16px;
	line-height: 362%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #04F1FF;
	display: flex;
	margin-right: -259px;
	padding-left: 20px;
	align-items: center;
	background: #272727;
	width: 384px;
	height: 44px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* INTRO */
.intro {
	background: linear-gradient(180deg, #000000 29.71%, rgba(0, 0, 0, 0) 83.91%);
}
.intro__info {
	position: relative;	
}
.intro__img {
	position: relative;
	z-index: 5;
}
.intro__text-map {
	display: flex;
	align-items: center;
}
.intro__text {
	margin-left: 94px;
	margin-top: 40px;
	position: relative;
	z-index: 3;
}
.intro__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 126%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #04F1FF;
	margin-bottom: 13px;
}
.intro__subtitle {
	width: 363px;
	line-height: 144%;
	margin-bottom: 26px;
}
.intro__link {
	line-height: 144%;
	color: #FFFFFF;
	margin-top: 11px;
	text-decoration: underline;
	margin-bottom: 40px;
}
.map__point-text {
	position: relative;
	left: 301px;
	bottom: 230px;
}
.intro__map {
	position: absolute;
	width: 100%;
	height: 100%;
	right: -420px;
	bottom: 77px;
	z-index: 1;
}
.map__text {
	font-family: 'TippytoesBold';
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	color: #FFFFFF;
	position: relative;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* SLIDER */
.slider__wrapper {
	max-width: 1011px;
	margin: 0 auto;
	min-height: 100%;
	min-width: 0;
	padding: 82px 15px 77px 15px;
}
.slider__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.slider-button {
	font-family: 'SFProDisplay';
	font-weight: 600;
	line-height: 41px;
	color: #04F1FF;
	border: 1px solid #04F1FF;
}
.slider-button:target {
	color: #000000;
	background: #04F1FF;
}
.slider-button:focus {
	color: #000000;
	background: #04F1FF;
}
.slider-button.active {
	color: #000000;
	background: #04F1FF;
 }
.rare {
	padding: 5px 65px;
	margin-right: 23px;
}
.really-rare {
	padding: 5px 46px;
}
.image-slider {
	padding-top: 54px;
}
.image-slider__image img{
	max-width: 100%;
}
.swiper__picture {
	position: relative;
	z-index: 2;
}
.swiper-button-prev, .swiper-button-next {
	position: relative;
}
.swiper-button-prev {
   position: absolute;
   width: 40px;
	height: 40px;
	background: transparent;
	border: 1px solid #04F1FF;
	background-image: url(../img/slider/arrow/2.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 50px;
}
.swiper-button-prev::after {
  	display: none;
}
.swiper-button-next {
   position: absolute;
   width: 40px;
	height: 40px;
	background: #04F1FF;
	background-image: url(../img/slider/arrow/1.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.swiper-button-next::after {
	display: none;
}
.swiper-backface-hidden .swiper-slide-active {
	transform: scale(1.2);
}
.swiper-slide h3{
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	opacity: 0.2;
	transition: 0.2s;
}
.swiper-slide-active h3{
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
	color: #04F1FF;
	text-align: center;
	opacity: 1;
	transition: 0.2s;
}
.swiper-slide  img {
	margin-bottom: 44px;
}
.text-slider__info {
	margin-top: 80px;
}
.text-slider__class {
	font-family: 'TippytoesBold';
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 22px;
	font-size: 50px;
}
.text-slider__intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 38px;
}
.text-slider__text {
	width: 400px;
	font-weight: 400;
	line-height: 26px;
	font-size: 16px;
	color: #8A8A8A;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}
.qoute-up {
	font-family: 'TippytoesXTraBold';
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #FFFFFF;
	transform: matrix(1, -0.05, 0.05, 1, 0, 0);
	text-align: left;
	margin: 0;
}
.qoute-down {
	font-family: 'TippytoesXTraBold';
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #FFFFFF;
	transform: matrix(-1, 0, 0, -1, 0, 0);
	text-align: left;
	margin: 0;
}
.titles-slider {
	display: flex;
}
.titles-slider img{
	position: absolute;
	margin: 0;
	margin-left: 10px;
}
.title-slider {
	position: relative;
}
.title-tokens {
	position: absolute;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	text-transform: uppercase;
	color: #2D2D2D;
	transform: rotate(-90deg);
	position: absolute;
	margin: 0;
	width: 162px;
	top: -285px;
	right: -700px;
}
.title-nic {
	position: absolute;
	font-family: 'TippytoesXTraBold';
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #FFFFFF;
	position: absolute;
	top: -90px;
	right: -635px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ADAPTATION */
@media (max-width: 1250px) {
	.intro__text {
    	margin-left: 74px;
    	margin-top: 20px;
	}
	.intro__title {
		font-size: 25px;
		margin-bottom: 10px;
  	}
	.intro__subtitle {
		margin-bottom: 10px;
		margin-top: 0;
  	}
  .intro__link {
		margin-top: 5px;
		margin-bottom: 30px;
	}
}
@media (max-width: 1200px) {
	
}
@media (max-width: 1121px) {
	.title-tokens {
		display: none;
	  }
	.title-nic {
		display: none;
	  }
}
@media (max-width: 1021px) {
	.slider__wrapper {
		padding-top: 62px;
		padding-bottom: 57px;
  }
  .text-slider__text {
		font-size: 14px;
		padding-left: 90px;
		margin-right: 100px;
	}
	.qoute-up {
    	font-size: 30px;
		padding-left: 70px;
	}
	.qoute-down {
		font-size: 30px;
		padding-left: 70px;
		padding-top: 30px;
  }
  .text-slider__info {
		margin-top: 60px;
	}
	.text-slider__class {
		font-size: 30px;
  	}
	.swiper-slide h3{
		margin: 15px 0 0 0;
		font-size: 18px;
  }
  .swiper-button-prev {
		margin-left: 0px;
	}
  	.text-slider__intro img {
		margin-left: 85px;
	}
	.intro__text {
		margin-left: 54px;
		margin-top: 20px;
  	}
  	.map__text {
		font-size: 30px;
}
}
@media (max-width: 960px) {
	.menu__year {
		font-size: 32px;
 	}
	.header__new-collection {
		font-size: 20px;
	}
	.header__pushkeen {
		font-size: 20px;
		right: -153px;
		top: 135px;
	}
	.page1 {
		left: -35px;
  }
  .page__current {
		font-size: 20px;
	}
	.page1 li:not(:first-child) {
		font-size: 20px;
	}
	.text__name {
		font-size: 100px;
  	}
	.header__info {
		padding-top: 80px;
		padding-bottom: 30px;
  }
  	.info__title {
		font-size: 16px;
		margin-left: 57px;
	}
	.intro__text {
		margin-left: 54px;
		margin-top: 10px;
  	}
  	.intro__subtitle {
		font-size: 16px;
	}
	.intro__link {
		font-size: 14px;
  	}
  	.page2 {
		left: -35px;
	}
	.page__current2 {
		font-size: 20px;
	}
	.page2 li:not(.page__current2) {
		font-size: 20px;
	}
	.page3 {
		left: -35px;
  }
  .page__current3 {
		font-size: 20px;
	}
	.page3 li:not(.page__current3) {
		font-size: 20px;
	}
	.slider__wrapper {
		padding-top: 42px;
		padding-bottom: 37px;
  }
  	.swiper-slide img {
		margin-bottom: 10px;
	}
	.text-slider__intro {
		margin-top: 20px;
  }
	.qoute-up {
    	font-size: 25px;
	}
	.qoute-down {
		font-size: 25px;
  }
  .text-slider__info {
		margin-top: 60px;
	}
	.text-slider__class {
		font-size: 30px;
  	}
  	.text-slider__intro img {
		margin-left: 20px;
	}
	.intro__map {
		right: -320px;
		bottom: 77px;
  }
}
@media (max-width: 856px) {
	.text-slider__text {
		padding-left: 80px;
  }
  	.text-slider__info {
		margin-top: 80px;
	}
}
@media (max-width: 756px) {
	.header__menu {
		margin-top: 20px;
  }
	.menu__year {
		font-size: 28px;
 	}
	.header__new-collection {
		font-size: 18px;
		left: -68px;
	}
	.header__pushkeen {
		font-size: 18px;
		right: -140px;
		top: 135px;
	}
	.text__name {
		padding-top: 80px;
  }
	.page1 {
		left: -28px;
  	}
  	.page__current {
		font-size: 16px;
	}
	.page1 li:not(:first-child) {
		font-size: 16px;
	}
	.page__line::before {
		left: -26px;
		top: 35px;
		width: 70px;
		height: 0px;
		margin-bottom: 70px;
  }
	.text__name {
		font-size: 80px;
  	}
	.header__info {
		padding-top: 50px;
		padding-bottom: 20px;
  }
  	.info__title {
		margin-left: 47px;
	}
	.intro__text {
		margin-left: 54px;
		margin-top: 10px;
  	}
  	.intro__subtitle {
		font-size: 14px;
	}
	.intro__title {
		font-size: 20px;
	}
	.intro__link {
		font-size: 10px;
  	}
  	.page2 {
		left: -28px;
	}
	.page__current2 {
		font-size: 16px;
	}
	.page2 li:not(.page__current2) {
		font-size: 16px;
	}
	.page__line2::before {
		left: -26px;
		top: 35px;
		width: 70px;
		height: 0px;
		margin-bottom: 70px;
  }
	.text__name {
		padding-top: 130px;
  	}
	.map__point-text {
		display: none;
  }
  	.page3 {
		left: -28px;
	}
	.page__current3 {
		font-size: 16px;
	}
	.page3 li:not(.page__current2) {
		font-size: 16px;
	}
	.page__line3::before {
		left: -26px;
		top: 35px;
		width: 70px;
		height: 0px;
		margin-bottom: 70px;
	}
}
@media (max-width: 656px) {
	.header__menu {
		margin-top: 15px;
  }
  .menu__year {
		font-size: 22px;
	}
	.header__new-collection {
		font-size: 16px;
		left: -58px;
	}
	.header__pushkeen {
		font-size: 16px;
		right: -120px;
  }
  .menu__language {
	font-size: 18px;
	margin-right: 15px;
}
  .info__text {
		font-size: 13px;
		width: 284px;
		height: 34px;
}
  .text__name {
		font-size: 60px;
		padding-top: 60px;
	}
	.info__title {
		margin-left: 67px;
  }
  .info__svg-text {
	  padding-left: 70px;
	}
}
@media (max-width: 500px) {
	.text__name {
		font-size: 60px;
  	}
	.header__info {
		padding-top: 10px;
		padding-bottom: 10px;
  }
  .menu__language {
		font-size: 16px;
		margin-right: 13px;
	}
  .info__svg-text {
		width: 80%;
		padding: 25px;
	}
	.info__text {
		font-size: 10px;
		width: 184px;
		height: 24px;
  }
  	.info__title {
		align-items: center;

	}
	.intro__text {
		margin-left: 30px;
		margin-top: 10px;
  	}
  	.intro__subtitle {
		font-size: 13px;
	}
	.intro__title {
		font-size: 14px;
	}
	.page1 {
		left: -28px;
  	}
  	.page__current {
		font-size: 10px;
	}
	.page1 li:not(:first-child) {
		font-size: 10px;
	}
	.page__line::before {
		left: -15px;
		top: 20px;
		width: 40px;
		height: 0px;
		margin-bottom: 40px;
	}
  	.page2 {
		left: -28px;
	}
	.page__current2 {
		font-size: 10px;
	}
	.page2 li:not(.page__current2) {
		font-size: 10px;
	}
	.page__line2::before {
		left: -15px;
		top: 20px;
		width: 40px;
		height: 0px;
		margin-bottom: 40px;
	}
	.page3 {
		left: -10px;
	}
	.page__current3 {
		font-size: 10px;
	}
	.page3 li:not(.page__current2) {
		font-size: 10px;
	}
	.page__line3::before {
		left: -15px;
		top: 20px;
		width: 40px;
		height: 0px;
		margin-bottom: 40px;
	}
	.slider__wrapper {
		padding-top: 15px;
		padding-bottom: 20px;
  }
  .slider-button {
	font-size: 16px;
	}
   .rare {
		padding: 5px 20px;
	}
	.really-rare {
		padding: 5px 20px;
  }
  .swiper-slide h3{
		font-size: 14px;
	}
	.text-slider__class {
		font-size: 20px;
		margin: 0;
	}
	.text-slider__text {
		font-size: 10px;
		line-height: 20px;
		width: auto;
	}
	.qoute-up {
		font-size: 18px;
  }
  .qoute-down {
	  font-size: 18px;
 	}
 	.swiper-button-prev {
   	width: 20px;
		height: 20px;

	}	
	.swiper-button-next {
   	width: 20px;
		height: 20px;
	}
}
@media (max-width: 400px) {
	.page1 {
		left: -28px;
  	}
  	.page__current {
		font-size: 10px;
	}
	.page1 li:not(:first-child) {
		font-size: 10px;
	}
	.text__name {
		font-size: 30px;
  	}
  .info__svg-text {
		padding: 10px 10px 10px 20px;
	}
	.info__text {
		font-size: 8px;
		width: 160px;
		height: 8px;
  }
  	.info__title {
		margin-left: 27px;
	}
  	.intro__subtitle {
		font-size: 13px;
		width: auto;
	}
	.intro__title {
		font-size: 14px;
	}
	.page__current2 {
		font-size: 10px;
	}
	.page2 li:not(.page__current2) {
		font-size: 10px;
	}
	.page__current3 {
		font-size: 10px;
	}
	.page3 li:not(.page__current3) {
		font-size: 10px;
	}
}